*{
    text-decoration: none;
    }
    body{
        background-color: #f1889b;
        font-family: sans-serif;
        font-weight: 700;
        letter-spacing: 1px;
        
    }
    .container{
        width: 25%;
        height: 330px;
        margin: 0px auto;
        margin-top: 30px;
        text-align: center;
        align-items: center;
        box-shadow: 0px 0px 3px gray,0px 0px 6px gray,0px 0px 9px gray,0px 0px 12px gray;
        border-radius: 10px;
    }
    input{
        width: 90%;
        height: 30px;
        margin-top: 15px;
        border-radius: 5px;
        padding-left: 7px;
    }
    button{
        width: 150px;
        height: 40px;
        margin-top: 20px;
        font-size: 25px;
        border: none;
        border-radius: 6px;
        background-color: rgb(253,222,238);
        box-shadow: 2px 2px 2px rgb(199, 199, 199);
        color: gray;
        cursor: pointer;
    }
    button:hover{
        background-color: rgb(255, 255, 255);
        color: black;
    }
    button:focus{
        box-shadow: 0px 0px 2px rgb(199, 199, 199)inset;
        color: lightslategrey;
    }
    h2{
        color: #ffc002;
        margin-bottom: 15px;
    }
    #resultado{
        margin-top: 15px;
        font-size: 30px;
        
    }
#resultado{
    font-size: 20px;
    color: black;
}
@media (max-width: 960px){
    .container{
        width: 95%;
    }
}